html,body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	background: #e9eaed;
}
@import url(https://fonts.googleapis.com/css?family=Corben:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Pagina de inicio index */
.fondoInicio{
	width: 100%;
	height: 100%;
	background: #34D9A1;
}

.fondoInicioImg{
	width: 100%;
	height: 100%;
	background: no-repeat center center fixed;
	background-size: cover;
}

.cajaEntrada{
	width: 25%;
	height: 25%;
	/*background: #35465c;*/
	border-radius: 5px;
	position: absolute;
	top: 37.5%;
	left: 37.5%;
}

.correo{
	width: 95%;
	border: 0px;
	border-bottom: 1px solid;
	border-radius:5px 5px 0px 0px;
	padding: 1em 0.5em;
	text-align: right;
}

.contra{
	width: 95%;
	border: 0px;
	border-radius: 0px 0px 5px 5px;
	padding: 1em 0.5em;
	margin-bottom: .5em; 
	text-align: right;
}

.entrar{
	width: 100%;
	background: white;
	border: 0px;
	padding: 1em;
}

.correo,.contra:focus{
	outline: 0;
}

.h1Kimvex{
	font-family: 'Corben', cursive;
	font-weight: 700;
	top: 15%;
	right: 41%;
	font-size: 4em;
	text-transform: uppercase;
	color: white;
	position: absolute;
	text-transform: center;
	text-shadow: 3px 3px 10px #000;
	box-shadow: 3px 3px 10px #000;
}

.pieInicio{
	width: 100%;
	height: 5%;
	text-align: center;
	background: #35465c;
	position: absolute;
	bottom: 0px;
}

.pieInicioLista{
	margin: 0;
}

.inicioItem{
	display: inline-block;
}

.inicioItem a{
	text-decoration: none;
	color: white;
	padding: .5em;
	display: block;
}

.inicioItem a:hover{
	text-decoration: underline;
}

/********************Fin del inicio***********************/
/********************Quienes somos***********************/
.texoGeneralTitulo{
	margin: 0;
	width: 50%;
	margin-left: 25%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	text-align: center;
}

.textoGeneral{
	margin: 0;
	width: 50%;
	margin-left: 25%;
	text-align: justify;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	white-space: pre-wrap;
}

.fondoGeneral{
	background-image: url('../img/inicio/8.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
}

.fondoSectionesImg{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	overflow: auto;
}
/**************Fin de informacion*************/
/****************Templete completo***********/
.menuBuscar{
	width: 100%;
	height: 10%;
	background: #35465c;
	position: fixed;
	z-index: 1001;
}

.contenedorCompleto{
	width: 80%;
	height: 100%;
	background: #e9eaed;
	position: absolute;
	left: 10%;
	text-align: center;
	top: 10%;
}

.barraDerecha{
	width: 10%;
	height: 90%;
	position: fixed;
	left: 0px;
	background: #35465c;
	z-index: 1010;
	text-align: center;
	top: 10%;
}

.barraIzquierda{
	width: 10%;
	height: 90%;
	position: fixed;
	right: 0px;
	background: #35465c;
	z-index: 1010;
	text-align: center;
	top: 10%;
}
.menus{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	height: 100%;
}

.item{
	border-radius: 50%;
	background: blue;
	border: 3px solid #000;
	width: 50%;
	height: 10%;
	margin: auto;
	margin-bottom: 1em;
}
/*-----Fin de la estructura del templete----*/
/*-----inicio del templete para publicaciones--*/
.publicacion{
	width: 50%;
	background: white;
	margin-top: 2%;
	margin-left: 25%;
}
.cabeceraPublicacion{
	width: 97.5%;
	padding: 2% 0% 1% 2.5%;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
.cabeceraPublicacion h3{
	position: absolute;
	margin:0;
	display: inline-block;
	padding: 0% 0% 0% 1%;
	color: #35465c;
}
.cabeceraPublicacion span{
	color: #999;
	font-size: .7em;
	padding: 0% 0% 0% 2%;
}
.imagenPerfilPublicacion{
	width: 3em;
	height: 3em;
	margin:0;
	padding: 0;
	display: inline-block;
}
.sectionPublicacion{
	text-align: justify;
	width: 95%;
	margin-left: 2.5%;
	padding: 1% 0%;
	font-family: 'Montserrat', sans-serif;
}